<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/onsenui.css">
    <link rel="stylesheet" href="css/onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="css/styles.css">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/onsenui.js"></script>
    <script src="js/socketio.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <ons-navigator animation="slide" var="myNavigator">
      <div ons-loading-placeholder="register.html">
        Loading My Application...
      </div>
    </ons-navigator>

  <ons-template id="register.html">
    <ons-page ng-controller="registerController">
        <div class="profile-card">
          <img src="img/logo.png" class="profile-image">
          <div class="profile-name">Follow Me</div>
          <div class="profile-desc">Never lost your friends again</div>
        </div>

        <div class="login-form">
          <input type="text" class="text-input--underbar input-session" placeholder="Session ID" id="joinSessionCode">
          <br/><br/>
          <button class="button button--large" ng-click="joinSession();">Join session</button>
          <br/> OR <br/><br/>
          <button class="button button--large--cta" ng-click="getSessionCode();">Start session</button>
        </div>
      </ons-page>
    </ons-template>
  <ons-template id="session.html">
    <ons-page ng-controller="SessionController">
      <ons-toolbar>
        <div class="center">Session</div>
        <div class="left">
          <ons-back-button ng-click="leaveSession();">
            Back
          </ons-back-button>
        </div>
        <div class="right">
          <ons-toolbar-button>
            <ons-icon icon="ion-share" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="dialog session-card">
        <div class="page">
          <h1>Session ID</h1>
          <h2>Share this code with followers</h2>
          <input type="text" class="text-input text-input-align text-input-margin" id="inputSessionCode" readonly>
          <br/>
          <button class="button button--outline" ng-click="myNavigator.pushPage('map.html');">Go</button>
        </div>
      </div>
    </ons-page>
  </ons-template>

  <ons-template id="map.html">
    <ons-page id="mapPg" ng-controller="MapController">
      <ons-toolbar>
        <div class="center">Map</div>
        <div class="left">
          <ons-back-button>
            Back
          </ons-back-button>
        </div>
        <div class="right">
          <ons-toolbar-button ng-click="leaveSession();">
            <ons-icon icon="ion-android-exit" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div id="map_canvas"></div>
      <div class="tab-bar">
        <label class="tab-bar__item">
          <input type="radio" name="tab-bar-a" checked="checked">
          <button class="tab-bar__button">
            <i class="tab-bar__icon ion-navigate"></i>
            <div class="tab-bar__label">Me</div>
          </button>
        </label>

        <label class="tab-bar__item">
          <input type="radio" name="tab-bar-a">
          <button class="tab-bar__button">
            <i class="tab-bar__icon ion-android-locate"></i>
            <div class="tab-bar__label">Leader</div>
          </button>
        </label>

        <label class="tab-bar__item">
          <input type="radio" name="tab-bar-a">
          <button class="tab-bar__button">
            <i class="tab-bar__icon ion-person-stalker"></i>
            <div class="tab-bar__label">Followers</div>
          </button>
        </label>
      </div>
    </ons-page>
  </ons-template>

  <ons-modal var="modal">
    <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    <br><br>
    <p id="modalText"></p>
  </ons-modal>

  </body>
</html>