<ion-view name="loginView" >
<ion-content padding="true">
<div class="row responsive-sm">
  <div class="col">IMAGE</div>
  <div class="col">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-pricetag placeholder-icon"></i>
        <input type="text" placeholder="Session ID">
      </label>
      <label class="item item-input">
        <i class="icon ion-person placeholder-icon"></i>
        <input type="text" placeholder="Name">
      </label>
      <button class="button button-block button-outline button-positive icon-left ion-location" ng-click="join()">
        Join session
      </button>
      <span> or
      <button class="button button-block button-outline button-balanced icon-left ion-map" ng-click="start()">
        Start session
      </button>
    </div>
  </div>
</div>


</ion-content>
</ion-view>